@font-face {
    font-family: 'aaarghnormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'), url('Aaargh-webfont.woff2') format('woff2'), url('Aaargh-webfont.woff') format('woff'), url('Aaargh-webfont.ttf') format('truetype'), url('Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'aaarghnormal';
    color: rgba(255, 255, 255, 0.7);
}

body,
html {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=30682), pointer;
    height: 100%;
}